@tailwind base;
@tailwind components;
@tailwind utilities;

.defaultButtonColor {
  background-color: red;
}

.backgroundColor {
  background-color: #50e5cb;
}

.backgroundColor {
  background-color: #50e5cb;
}

.buttonColor {
  background-color: #ffd3b6 !important;
}

.aws-btn {
  background-color: #ffd3b6 !important;
}

.margin-bottom {
  margin-bottom: 10em;
}

.button-size {
  width: 6em;
}

.list-size {
  width: 20em;
}
